<% content_for(:bar) do %>
  <%= link_to "Back", @card.deck, class: "back" %>
<% end %>
<div class="flashcard">
  <span class="kanji" data-content="<%= @card.front %>"><%= @card.front %></span>
</div>
<div class="meaning">
  <span class="value"><%= @card.back %></span>
</div>

<div>Seen: <%= @record.seen_count %></div>
<div>Last Seen: <%= time_ago_in_words @record.last_seen_at %></div>
<div>Right: <%= @record.right_count %></div>
<div>Wrong: <%= @record.wrong_count %></div>
<div>Bucket: <%= @record.bucket %></div>
