<% content_for(:bar) do %>
  <%= link_to "Back", @card.deck, class: "back" %>
<% end %>
<div class="flashcard flashcard-<%= @color %>">
  <span class="kanji" data-content="<%= @card.front %>"><%= @card.front %></span>
</div>
<div class="meaning">
  <span class="value"><%= @card.back %></span>
</div>

<div class="buttons">
  <%= link_to "Didn't Know", card_record_path(@record), method: :put, class: "did_not_know-button" %>
  <%= link_to 'Knew', card_record_path(@record, knew: '1'), method: :put, class: "knew-button" %>
</div>

<div class="stacks">
  <div class="stack stack-brown">
    <%= current_user.brown_count(@card.deck) %>
  </div>
  <div class="stack stack-yellow">
    <%= current_user.yellow_count(@card.deck) %>
  </div>
  <div class="stack stack-green">
    <%= current_user.green_count(@card.deck) %>
  </div>
</div>

<div>Seen: <%= @record.seen_count %></div>
<div>Last Seen: <%= @record.last_seen_at ? time_ago_in_words(@record.last_seen_at) : "Never" %></div>
<div>Right: <%= @record.right_count %></div>
<div>Wrong: <%= @record.wrong_count %></div>
<div>Bucket: <%= @record.bucket %></div>
<div>Score: <%= @record.score %></div>
