<!DOCTYPE html>
<html>
  <head>
    <title>Memori</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    "mobile", :media => "screen only" %>
    <%= stylesheet_link_tag    "wide", :media => "(min-width:320px)" %>

    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "ios-orientationchange-fix.js" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% flash.each do |key, value| -%>
      <div class="flash <%= key %>"><%= value %></div>
    <% end -%>

    <%= render "user_bar" %>

    <%= yield %>

  </body>
</html>
